{% extends "base.html" %}

{% block main %}
    <style>
        .form-control {
            margin: 20px 0px;
        }
    </style>

    <div class="container py-5">
        <h2>Visitor Form</h2>
        <form id="visitorForm" method="post" action="{% url 'register' %}" class="needs-validation bg-white shadow rounded p-5" novalidate>
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.mobile.label_tag }}
                {{ form.mobile }}
            </div>
            <div class="form-group">
                {{ form.city.label_tag }}
                {{ form.city }}
            </div>
            <div class="form-group">
                {{ form.reason.label_tag }}
                {{ form.reason }}
            </div>
            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("submitBtn").addEventListener("click", function (event) {
                var form = document.getElementById("visitorForm");
                if (!form.checkValidity()) {
                    event.preventDefault(); // Prevent form submission if not valid
                    event.stopPropagation();
                }
                form.classList.add("was-validated");
            });
        });
    </script>
    <!-- ======= Footer ======= -->
    <footer id="footer mt-5" style="box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);">

        <div class="px-5 py-3">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
            &copy; Copyright <strong><span>LTCE Indoor Navigation</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
            Designed by <a href="#">LTCE Students</a>
            </div>
        </div>
        </div>
    </footer><!-- End Footer -->
    
{% endblock %}
